        body{
            /*background-color:blue;*/
            background-image: url('C:/Users/DELL/Desktop/Practice/images/woodimage.jpg')    
        }
        .container{
            /*text-align: center;*/
            color: black;
            background-color:white;
            border: 2px solid black;
            width:70%
        }
        #register{
            background-color: #007BFF;
            color: white;
        }
        
